*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.container{
  color: #EFF2FC;
  justify-content: space-between;
}

.header-top{
  display: flex;
  background-color: #3162E0;
  height: 100px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.header-bottom{
  display: flex;
  height: 400px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

header .header-bottom .text{
  width: 500px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

header .header-bottom .button{
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}


main{
  margin: 10px;
}

.presentation {
  display: flex;
  justify-content: space-around;
  margin:10px;
}

.feature-image{
  width: 400px;
  height: 300px;
}

.feature-text{
  width: 400px;
  height: 300px;
}

.two,{
  flex-direction: row-reverse;
}