/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #EFF2FC;
  justify-content: space-between;
}

/* HEADER */
header{
  display: flex;
  background-color: #3162E0;
  height: 80px;
  align-items: center;
  width: 1430px; /* MISURE DA TOGLIERE */
}

header .container{
  display: flex;
  justify-content: space-between;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  /* margin: 10px; */
  /* flex-direction: column; */
  /* width: 1430px; MISURE DA TOGLIERE */
}

.jumbotron .text{
  max-width: 800px;
  /* padding: 20px; */
  /* margin: 10px; */
  /* text-align: center; */
}

.jumbotron .button{
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

/* MAIN */

main{
  padding-top: 50px;
}

section{
  margin-bottom: 50px;
}

section .container{
  display: flex;
  /* justify-content: space-around; */
  /* margin: 10px auto; */
  min-height: 500px;
  /* width: 1000px; MISURE DA TOGLIERE */
}

section .container .image{ /* MISURE DA TOGLIERE */
  width: 60%;
  min-height: 300px;
  /* margin: 10px 0; */
}

section .container .text{ /* MISURE DA TOGLIERE */
  width: 40%;
  min-height: 200px;
  /* margin: 10px 0; */
}

/* .presentation .two,{
  flex-direction: row-reverse;
} */

section.section-bottom .container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px; */
}

/* FOOTER */

footer{
  /* margin: 10px; */
  background-color: #23272A;
  color: #EFF2FC;
  /* height: 400px; */
  /* width: 1430px; MISURE DA TOGLIERE */
}

.footer-top{
  display: flex;
  min-height: 300px; /* MISURE DA TOGLIERE */
  /* justify-content: space-around; */
  /* padding: 50px 0; */
  /* margin: 10px auto; */
  /* width: 1000px; MISURE DA TOGLIERE */
  
}

.footer-top .social {
  /* display: flex; */
  /* flex-direction: column;  */
  width: calc(100% / 3);
  min-height: 200px; /* MISURE DA TOGLIERE */
 }

.footer-top .menu{
  /* padding-right: 10px; */
  width: calc(100% / 6);
  min-height: 200px; /* MISURE DA TOGLIERE */
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  min-height: 200px; /* MISURE DA TOGLIERE */
}

footer .menu ul {
  list-style: none;
}

footer .menu a{
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}
